* {
  margin: 0;
}

button {
  font-family: "Times New Roman", Times, serif;
}

header {
  display: flex;
  align-items: center;
  gap: 5px;
  height: 75px;
  background-color: rgb(99, 99, 99);
  color: white;
  padding-left: 15px;
}

.btns {
  height: 110px;
  padding: 0 30px;
}

.logo {
  height: 48px;
  width: 48px;
}

header > h1 {
  font-size: 2.2rem;
}

.sort-btns,
.manage-btns {
  list-style: none;
  padding: 0;
  margin: 0;
  height: 100%;
  display: flex;
  gap: 25px;
  align-items: center;
}

.sort-btns {
  float: left;
}

.manage-btns {
  float: right;
}

.sort-btns > button,
.manage-btns > button {
  height: 40px;
  font-size: 1rem;
  border: 1px solid black;
  border-radius: 10px;
}

.sort-btns > button {
  width: 150px;
  background: linear-gradient(135deg, #e0f7fa, #b3e5fc);
}

.sort-btns > button:hover {
  background: linear-gradient(135deg, #c4f5ff, #8ed1f0);
}

.manage-btns > button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.add-btn {
  width: 85px;
  background: linear-gradient(135deg, #d1ffc1, #afffbd);
}

.add-btn:hover {
  background: linear-gradient(135deg, #beffa8, #88e99a);
}

.delete-all-btn {
  width: 120px;
  background: linear-gradient(135deg, #ffc5c5, #ff9d9d);
}

.delete-all-btn > img {
  position: relative;
  bottom: 2px;
}

.delete-all-btn:hover {
  background: linear-gradient(135deg, #ffb5b5, #f58888);
}

.add-btn img,
.delete-all-btn img {
  width: 20px;
  height: 20px;
}

.costs-observers-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 80px;
  padding: 20px 40px;
}

.costs-observer {
  width: 300px;
  min-height: 400px;
  padding: 5px;
  border: 1px solid black;
  border-radius: 20px;
  box-shadow: 5px 5px 15px rgb(175, 175, 175);
  word-wrap: break-word;
}

.costs-observer-btns-panel {
  display: flex;
  flex-direction: row-reverse;
  gap: 4px;
  margin-bottom: 10px;
  padding-right: 2px;
}

.costs-observer-btns-panel > button {
  height: 32px;
  width: 32px;
  padding: 0;
  background-color: white;
  border: 1px solid black;
  border-radius: 16px;
}

.edit-btn:hover {
  background-color: rgb(255, 240, 145);
}

.edit-btn > img {
  width: 95%;
  height: 95%;
}

.delete-btn:hover {
  background-color: rgb(255, 121, 121);
}

.delete-btn > img {
  width: 92%;
  height: 92%;
}

.costs-observer > h2 {
  text-align: center;
  font-size: 1.7rem;
}

.date-label {
  color: rgb(82, 82, 82);
  font-size: 0.9rem;
  position: absolute;
}

.balance-container {
  width: 175px;
  height: 175px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 5px;
  margin-top: 15px;
  border: 8px solid rgb(72, 222, 12);
  border-radius: 100px;
  font-size: 1.6rem;
}

.balance-limit {
  margin-bottom: -100px;
}

.balance,
.limit {
  width: 5.5ch;
  font-size: 1.6rem;
  font-family: "Times New Roman", Times, serif;
  border: none;
  background: none;
}

.balance:focus {
  outline: none;
}

.limit {
  text-align: right;
  color: black;
  padding-right: 3px;
}

.currency {
  font-size: 2.2rem;
}

.balance-container > .history {
  justify-content: center;
}

.history-container {
  display: flex;
  justify-content: center;
}

.history {
  margin-top: 30px;
  width: 120px;
  height: 30px;
  font-size: 1rem;
  border: 1px solid black;
  border-radius: 10px;
  background-color: white;
}

.history:hover {
  background-color: rgb(255, 240, 145);
}

footer {
  height: 150px;
  margin-top: 60px;
  background-color: rgb(99, 99, 99);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.quotes {
  width: 290px;
  height: 30px;
  font-size: 1.5rem;
  position: relative;
  overflow: hidden;
}

.quote {
  width: 100%;
  height: 30px;
  text-align: center;
  animation: slider;
  animation-iteration-count: infinite;
  animation-duration: 30s;
}

#first-quote,
#second-quote,
#third-quote {
  position: absolute;
}

#second-quote {
  left: 100%;
}

#third-quote {
  left: 200%;
}

.cash {
  height: 40px;
  width: 80px;
  animation-name: rotate;
  animation-iteration-count: infinite;
  animation-duration: 10s;
}

@keyframes slider {
  16% {
    transform: translateX(0);
  }
  33% {
    transform: translateX(-100%);
  }
  49% {
    transform: translateX(-100%);
  }
  66% {
    transform: translateX(-200%);
  }
  83% {
    transform: translateX(-200%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes rotate {
  0% {
    transform: rotate(25deg);
  }
  50% {
    transform: rotate(-25deg);
  }
  100% {
    transform: rotate(25deg);
  }
}
