* {
  margin: 0;
}

header {
  display: flex;
  align-items: center;
  gap: 5px;
  height: 75px;
  background-color: rgb(99, 99, 99);
  color: white;
  padding-left: 15px;
}

.btns {
  height: 110px;
  padding: 0 30px;
}

.logo {
  height: 48px;
  width: 48px;
}

header > h1 {
  font-size: 2.2rem;
}

.sort-btns,
.manage-btns {
  list-style: none;
  padding: 0;
  margin: 0;
  height: 100%;
  display: flex;
  gap: 25px;
  align-items: center;
}

.sort-btns {
  float: left;
}

.manage-btns {
  float: right;
}

.sort-btns > button,
.manage-btns > button {
  height: 40px;
  font-size: 1rem;
  border: 1px solid black;
  border-radius: 10px;
}

.sort-btns > button {
  width: 150px;
  background: linear-gradient(135deg, #e0f7fa, #b3e5fc);
}

.sort-btns > button:hover {
  background: linear-gradient(135deg, #c4f5ff, #8ed1f0);
}

.manage-btns > button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.add-btn {
  width: 85px;
  background: linear-gradient(135deg, #d1ffc1, #afffbd);
}

.add-btn:hover {
  background: linear-gradient(135deg, #beffa8, #88e99a);
}

.delete-all-btn {
  width: 120px;
  background: linear-gradient(135deg, #ffc5c5, #ff9d9d);
}

.delete-all-btn:hover {
  background: linear-gradient(135deg, #ffb5b5, #f58888);
}

.add-btn img,
.delete-all-btn img {
  width: 20px;
  height: 20px;
}

.delete-btn img {
  width: 23px;
  height: 23px;
}

.edit-btn img {
  width: 26px;
  height: 26px;
}
